<!DOCTYPE html>
{% if 'user_id' not in session %}
{% include 'support/header.html' %}
{% else %}
{% include 'support/sidebar.html' %}
{% endif %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/static/logo/music_note_white.png">
	<title>MusicXML Sheet</title>
	<script src="https://cdn.jsdelivr.net/npm/opensheetmusicdisplay@1.9.0/build/opensheetmusicdisplay.min.js"></script>
	<style>
		#sheet_main{
			width: 100%;
			padding: 0 0 0 0;
		}
		
		#osmd-container{
			margin-right: 200px;
		}
	</style>
</head>
<body>
<div id="sheet_main">
	<div id="osmd-container"></div>
</div>

<input type="hidden" id="musicxml-path" value="{{ result_path }}">

<script>
	document.addEventListener("DOMContentLoaded", async () => {
		const osmd = new opensheetmusicdisplay.OpenSheetMusicDisplay("osmd-container", {
			autoResize: true
		});
		const musicXMLPath = document.getElementById("musicxml-path").value;
		
		if (musicXMLPath) {
			try {
				const response = await fetch(`/get_sheet?path=${encodeURIComponent(musicXMLPath)}`);
				if (!response.ok) throw new Error("Lỗi khi tải file MusicXML");
				const musicXML = await response.text();
				
				osmd.load(musicXML).then(() => osmd.render());
			} catch (error) {
				console.error("Lỗi:", error);
			}
		}
	});
</script>
</body>
</html>